body {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
	height: 100vh;
	width: 100%;
	background-image: url('img/wood-background.jpg');
	background-size: cover;
	color: #1A0D47;
}

* { box-sizing: border-box; }

h1 {
	font-size: 100px;
	text-align: center;
}

input {
	background: none;
	border: 2px solid #1A0D47;
	padding: 5px 10px;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
	color: #1A0D47;
	margin-bottom: 20px;
}

input[type="text"] {
	width: 300px; 
	margin-right: 20px;
}

input[type="radio"]:not(:first-child) { margin-left: 20px; }

.btn {
	border: 2px dashed #1A0D47;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
	box-shadow: -5px 5px 0 0 #1A0D47;
	position: relative;
	margin: 0 auto 20px;
	padding: 5px 30px;
	width: max-content;

}

.btn:active {
	top: 5px;
	left: -5px;
	box-shadow: 0 0 0 0 transparent;
}

.show { display: grid; }

.hide { display: none; }

#paper {
	background-image: url('img/background.jpg');
	background-size: 1000px;
	max-width:100%;
	margin: 50px auto;
	/* padding: 20px 50px 50px 120px; */
	transform: rotate(-7deg);
	box-shadow: 0 0 15px 15px rgba(0,0,0,0.2);
	text-align: center;
}

#player-turn {
	font-size: 40px;
	margin-bottom: 30px;
}

#game-board {
	width: 300px;
	height: 300px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1px;
	margin: 0 auto 30px auto;
}

.cell {
	text-align: center;
	font-size: 95px;
}

.cell:nth-child(1), .cell:nth-child(2),
.cell:nth-child(4), .cell:nth-child(5),
.cell:nth-child(7), .cell:nth-child(8) {
	border-right: 2px dashed #1A0D47;
}

.cell:nth-child(1), .cell:nth-child(2),
.cell:nth-child(3), .cell:nth-child(4),
.cell:nth-child(5), .cell:nth-child(6) {
	border-bottom: 2px dashed #1A0D47;
}

#winner {
	font-size: 40px;
	padding: 20px;
	border: 2px dashed #EF8354;
	color: #EF8354;
}

#modal {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-content: center;
}

#modal-container {
	background-image: url('img/background.jpg');
	background-size: 1000px;
	margin: 100px;
	padding: 30px 50px 50px 160px;
	transform: rotate(7deg);
	box-shadow: 0 0 15px 15px rgba(0,0,0,0.2);
}